/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца +
✦ card__like-button — для кнопки Like рядом с иконкой +
✦ card__icon-button — для кнопки, оборачивающей иконку +
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки +

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--bg-page-color);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  inline-size: var(--container-width);
  min-inline-size: 375px;
  margin: 0 auto;
  margin-block: 100px;
}


/* Шапка сайта */

.header {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  text-align: center;
  padding: var(--header-padding);
  font-family: var(--acent-font);
  min-height: 100%;
}

.header__title {
  font-size: var(--title-size);
  padding-block-end: var(--title-padding);
}

.header__description {
  text-transform: uppercase;
  font-size: var(--description-size);
  padding-block-start: 5px;
}

/* Основной контент - карточки с постами */

.post {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  margin-block-end: 50px;
}

.post:last-of-type {
  margin-block-end: 0;
}

.post__title {
  font-family: var(--main-font);
  font-size: var(--post-size);
  text-wrap: balance;
  padding: 4px 10px;
  font-variation-settings: "wght" var(--title-font-weight);
}

.post__image {
  position: relative;
  display: block;
}

.post__logo {
  position: absolute;
  font-family: var(--acent-font);
  font-size: clamp(14px, 3vw, 20px);
  mix-blend-mode: hard-light; /* визуальный эффект с помощью режима смешивания */
  top: 25px;
  right: 25px;
  text-shadow: var(--label-shadow);
  opacity: 0.5;
  color: rgba(0, 0, 0);
  z-index: 2;
}

@supports(-webkit-text-stroke: 1px var(--shadow-color)) {
  .post__logo {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
} 

.post__image_item {
  width: clamp(371px, 100%, 696px);
}

/* Карточка 2 */
.image__grayscale {
  filter: grayscale(0.8);
}

/* Карточка 3 */
.image__hue-rotate {
  filter: hue-rotate(30deg);
}

/* Карточка 4 */
.image__saturate {
  filter: saturate(350%);
}

/* Карточка 5 */
.image__invert {
  filter: invert(0.7);
}

/* Карточка 6 */
.image__sepia {
  filter: sepia(80%);
}

/* Карточка 7 */
.image__blur {
  filter: blur(0.5rem);
}

/* Карточка 8 */
.image__hue-rotate_contrast {
  filter: hue-rotate(120deg) contrast(40%);
}

.post__content {
  padding: 25px 25px 88px;
}

.post__text {
  padding-block-end: 25px;
  font-family: var(--main-font);
  font-size: var(--post-size);
}

/* Кнопки в постах */

.post__buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  border: 2px transparent solid;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

.like-icon {
  transform-origin: center;
}

/* Кнопка с сердечком */

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s;
}

/* Кнопка Like */

.card__like-button {
  font-family: var(--acent-font);
  font-variation-settings: "wght" var(--main-font-weight);
  border: 2px var(--border-color) solid;
  background-color: var(--bg-color);
  padding: 12px 37px;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--bg-color-bottom);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.button__text {
  display: block;
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
  font-family: var(--acent-font);
  font-variation-settings: "wght" var(--main-font-weight);
  font-size: 14px;
}

/* Кнопка сохранить */

.post__buttons_save {
  display: flex;
  justify-content: center;
  border-block-start: none;
  padding-block-start: 50px;
}

.button__save {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  border: 2px var(--border-color) solid;
  background-color: var(--bg-color);
  cursor: pointer;
  padding-block: 12px;
  padding-inline: 20px;
  position: relative;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button__save::before {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--bg-color-bottom);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__save:hover::before {
  transform: translateX(0);
}

.button__save:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.button__save:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

/* Всплывающее окошко */

dialog::backdrop {
  opacity: 0.75;
  background-color: var(--border-color);
}

.pop-up__window {
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;
}

.pop-up__text {
  font-family: var(--acent-font);
  font-variation-settings: "wght" var(--main-font-weight);
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 14px;
  text-align: left;
  max-width: 200px;
}

.pop-up__window[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-inline: 30px;
  padding-block-start: 30px;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
}

.button__close {
  margin-block-end: 20px;
  position: relative;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--acent-font);
  font-variation-settings: "wght" var(--main-font-weight);
  border: 2px var(--border-color) solid;
  background-color: var(--bg-color);
  padding: 12px 132px;
  font-size: 14px;
  width: fit-content;
  margin: 0 auto;
}

.button__close::before {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--bg-color-bottom);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__close:hover::before {
  transform: translateX(0);
}

.button__close:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.button__close:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--border-color);
}

.pop-up__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.pop-up__icon {
  width: 39px;
  height: 39px;
  fill: #fff;
  mix-blend-mode: difference;
  z-index: 2;
  position: relative;
}

/* Картинка с котом  */

.cat {
  position: relative;
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.cat__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.6s ease;
}

.cat__image_without_hat {
  z-index: 2;
}

.cat__image_with_hat {
  z-index: 1;
}

/* При наведении — прозрачность 1 картинки */
.cat:hover .cat__image_without_hat {
  filter: opacity(0);
}

/* При фокусе - возвращается 1 картинка */
.cat:focus-within .cat__image_without_hat {
  filter: opacity(1);
}


@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }

  .button__text {
    white-space: nowrap;
  }

  .pop-up__window[open] {
    max-width: 341px;
    padding-inline: 20px;
  }
}