/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', Arial, sans-serif;
    --main-font-weight: 400;
    --title-font-weight: 715;
    --acent-font: 'Press Start 2P', cursive, sans-serif;

    --bg-page-color: 
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    
    --container-width: clamp(375px, 80vw, 700px);
    --header-padding: clamp(80px, 15vh, 120px) clamp(15px, 5vw, 30px);
    --title-size: clamp(49px, 8vw, 65px);
    --title-padding: clamp(12px, 2vh, 20px);
    --description-size: clamp(14px, 2.5vw, 23px);
    --post-size: 18px;

    --shadow-color: rgba(255, 255, 255, 1);
    --label-shadow: -1px 0 var(--shadow-color), 0 1px var(--shadow-color), 1px 0 var(--shadow-color), 0 -1px var(--shadow-color);

    --contour-color: #000;
    --animation-fill-color: rgba(255, 0, 0, 1);
    --core-fill-color: #fff;

    --bg-color: rgba(255, 255, 255, 1);
    --border-color: rgba(0, 0, 0, 1);
    --bg-color-bottom: rgb(0, 0, 0, 1);
}